.d-flex {
  background-color: #004487;
}

i {
  margin-left: 10px;
  font-size: 48px;
}

.lh-1 {
  margin-left: 10px;
}

.button {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}
