<app-titulo
[titulo]="'Relatórios'"
[rota]="'relatorios'"
[iconClass]="'fa fa-chart-bar'"
[botaoListar]="false">
</app-titulo>

<div class="card rounded shadow-sm p-3">
  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Mês/Ano</th>
        <th>Valor Pago</th>
        <th>% SenacRS</th>
        <th>% Polo</th>
        <th class="d-none d-md-table-cell">Devolução</th>
        <th class="d-none d-md-table-cell">% Dev. SenacRS</th>
        <th class="d-none d-md-table-cell">% Dev. Polo</th>
        <th class="d-none d-md-table-cell">Data Registro</th>
        <th class="d-none d-md-table-cell">Data Atualização</th>
      </tr>
    </thead>
    <tbody *ngIf="relatorios && relatorios.length">
      <tr *ngFor="let relatorio of relatoriosFiltrados" (click)="getPolos(relatorio.id)" style="cursor: pointer;">
        <td>{{relatorio.mes + '/' + relatorio.ano}}</td>
        <td>{{relatorio.valorPago | currency:'BRL'}}</td>
        <td>{{relatorio.porcSenacrs | currency:'BRL'}}</td>
        <td>{{relatorio.porcPolo | currency:'BRL'}}</td>
        <td class="d-none d-md-table-cell">{{relatorio.devolucao | currency:'BRL'}}</td>
        <td class="d-none d-md-table-cell">{{relatorio.porcDevSenacrs | currency:'BRL'}}</td>
        <td class="d-none d-md-table-cell">{{relatorio.porcDevPolo | currency:'BRL'}}</td>
        <td class="d-none d-md-table-cell" mask="d0/M0/0000">{{relatorio.dataRegistro}}</td>
        <td class="d-none d-md-table-cell" mask="d0/M0/0000">{{relatorio.dataAtualizacao}}</td>
      </tr>
    </tbody>
    <tfoot *ngIf="!relatorios.length">
      <tr>
        <td colspan="9" class="text-center">
          <h4>Nenhum Relatório Encontrado!</h4>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
